name: Android CI

on:
  push:
    branches: 
      - main 
      - release/*
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Android Builder
      # You may pin to the exact commit or the version.
      # uses: b4s36t4/Android-Action@bb5c066db6ca0824ee09ee640ca222888a0c2877
      uses: kyze8439690/action-release-releaseapk@1.0.0
      with:
        GITHUB_TOKEN:  ${{ secrets.TOKEN }}
      env:
        INPUT_GITHUB_TOKEN: ${{ secrets.TOKEN }}
      
